.clients {
  padding: 0 0 64px 0;
  overflow: hidden;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
}
.marquee h2 {
  display: inline-block;
  font-size: 120px;
  font-weight: 300;
  line-height: 1;
  white-space: nowrap;
}
.top-text h2 {
  color: #000;
}
.bottom-text {
  margin-top: 20px;
}
.bottom-text h2 {
  color: #ff5330;
}